/*====================== Super ===========================*/

    * {box-sizing: border-box; }

    body { 
        margin: 0; 
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    h1, h2, h3 {
        text-align: center !important;
        margin: 0 !important;
        padding: 1.25rem !important;
    }

/*====================== Login ===========================*/

    .login {
        display: flex;
        flex-direction: column;
        text-align: center;
        min-height: 100vh;
        justify-content: center;
    }


/*====================== App ===========================*/

    /* ===== Controls ===== */
        .controls {
            display: flex;
            flex-direction: column;
        }
        @media screen and (min-width: 769px){
            
            .controls {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                padding: 1rem;
            }
        }

    /* ===== Main ===== */
        .main {
            display: flex;
            flex-direction: column;
            min-height: 70vh;
        }
        .items{
            padding: 1rem;
            min-height:inherit;
        }
        .inputs {
            padding: 1rem;
            min-height: 10vh;
        }
        @media screen and (min-width: 769px){
            
            .main {
                display: flex;
                flex-direction: row;
            }

            .items {
                flex: 3;
                background-color: aquamarine;
                min-height: 100%;
            }

            .inputs {
                flex: 1;
                min-height: 100%;
            }
        }
